<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="AdminSettingCtrl">

  <!-- column -->
  <div class="col">
    <div class="bg-light lter b-b wrapper-md ng-scope">
	  <h1 class="m-n font-thin h3">管理员管理</h1>
	</div>
    <div class="vbox">
      <div class="wrapper-md" ng-show="!creating && !editing">
	      <div class="input-group align-right">
	           <span class="input-group-addon input-sm" ng-click="searchData()"><i class="fa fa-search"></i></span>
	           <input type="text" class="form-control input-sm ng-pristine ng-valid ng-touched input-search-width" placeholder="按编号或名称或手机号搜索" ng-model="query" ng-enter="searchData()">
	           <a href="" class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="createAdmin()" ng-if="departmentLoading == false"><i class="fa fa-fw m-r-xs fa-plus"></i>新建</a>
	        </div>
	        <br/>
	        <div class="panel panel-default relative">
	            <div class="yp-mask-content" ng-show="loading">
				   <div class="yp-mask"></div>
				   <div class="yp-mask-loading">
				      <div class="spinner spinner-sm"> 
				         <div class="rect1"></div> 
				         <div class="rect2"></div> 
				         <div class="rect3"></div> 
				         <div class="rect4"></div> 
				         <div class="rect5"></div> 
				      </div>
				   </div>
				</div>
			    <div class="panel-heading">用户列表</div>
			    <div>
		           <table class="table m-b-none align-center">
				      <thead>
				          <tr>
				              <th>序号</th>
				              <th>管理员名称</th>
				              <th>手机号码</th>
				              <th>管理员角色</th>
				              <th>状态</th>
				              <th>创建时间</th>
				              <th>操作</th>
				          </tr>
				       </thead>
				       <tbody class="article_table">
				          <tr ng-repeat="item in dataList">
				              <td ng-cloak>{{item.id ? item.id : '--'}}</td>
				              <td ng-cloak>{{item.name ? item.name : '--'}}</td>
				              <td ng-cloak>{{item.mobile ? item.mobile : '--'}}</td>
				              <td ng-cloak>{{item.role_name ? item.role_name : '--'}}</td>
				              <td ng-cloak>{{item.is_lock == 1 ? '锁定' : '正常'}}</td>
				              <td ng-cloak>{{item.created_at.substring(0, 10)}}</td>
				              <td>
				                 <button  class="btn btn-sm btn-primary btn-smest" ng-click="updateAdmin(item)" ng-if="departmentLoading == false"><i class="fa fa-fw m-r-xs fa-pencil"></i>修改</button>
				                 <button  class="btn btn-sm btn-danger btn-smest" ng-click="deleteAdmin(item)"><i class="fa fa-fw m-r-xs fa-trash-o"></i>删除</button>
				                 <div class="clear"></div>
				              </td>
				          </tr>
				          <tr ng-if="!haveData">
				              <td colspan="7" class="text-center">没有数据！</td>
				          </tr>
				       </tbody>
				       <tfoot class="hide-if-no-paging" ng-show="haveData">
				          <tr>
				              <td colspan="7" class="text-center">
				                  <div class="page-content" ng-hide="loading">
						               <ul class="divpage-ul ul-border-left" id="divpage-page">
							             <li class="divpage" ng-click="getInfoPage(1)" ng-class="{true:'disable'}[isFirst(page)]">首页</li>
							             <li class="divpage" ng-click="getInfoPage(page-1)" ng-class="{true:'disable'}[isFirst(page)]">上一页</li>
							             <li class="divpage" ng-click="divpageByPage($event)"></li>
							             <li class="divpage" ng-click="divpageByPage($event)"></li>
							             <li class="divpage" ng-click="divpageByPage($event)"></li>
							             <li class="divpage" ng-click="divpageByPage($event)"></li>
							             <li class="divpage" ng-click="divpageByPage($event)"></li>
							             <li class="divpage" ng-click="getInfoPage(page + 1)" ng-class="{'disable':isDisable(page)}">下一页</li>
							             <li class="divpage" ng-click="getInfoPage(totalPage)" ng-class="{'disable':isDisable(page)}">尾页</li>
							          </ul>
						           </div>
				              </td>
				          </tr>
				       </tfoot>
			      </table>
			   </div>
		  </div>
	  </div>
	  
      <div class="wrapper-md" ng-show="creating || editing">
	      <div class="panel panel-default">
	        <div class="panel-heading font-bold">请填写以下信息</div>
	        <div class="panel-body">
	          <form name="form" class="">
	            <div class="form-group">
		            <label>用户编号：</label>
		            <span>{{admin.isNew ? nextId : admin.id}}</span>
		        </div>
	            <div class="form-group">
		            <label>用户名</label>
		            <input type="text" placeholder="请输入用户名" class="form-control" ng-model="admin.name">
		        </div>
		        <div class="form-group">
		            <label class="dep-title">管辖部门</label>
		            <div class="radio inline-block margin-right-check" ng-repeat="item in departmentList">
		              <label class="i-checks">
		                <input type="checkbox" ng-checked="item.selected" ng-model="item.selected"/>
		                <i></i>
		                {{item.name}}
		              </label>
		            </div>
				</div>
		        <div class="form-group">
		            <label>手机号码</label>
		            <input type="text" placeholder="请输入手机号码" class="form-control" ng-model="admin.mobile">
		        </div>
		        <div class="form-group">
		            <label>密码（新建时为空默认密码为123456，修改时为空默认不修改密码）</label>
		            <input type="password" placeholder="请输入密码" class="form-control" ng-model="admin.password">
		        </div>
		        
		        <label>角色列表</label>
		        <div class="form-group">
			        <div class="radio inline-block margin-right-check" ng-repeat="item in roleData">
		              <label class="i-checks">
		                <input type="radio" name="a" value="{{item.id}}" ng-model="admin.role_id" required/>
		                <i></i>
		                {{item.name}}
		              </label>
		            </div>
	            </div>
		        <div class="form-group">
		            <label>是否锁定</label>
		            <label class="i-switch bg-info m-t-xs m-r align-left dep-lock">
		                <input type="checkbox" ng-model="admin.is_lock"/>
		                <i></i>
		            </label>
		        </div>
		        
	            <div class="">
		            <button type="button" class="btn btn-sm btn-primary" ng-disabled='form.$invalid' ng-click="editAdmin()">提交</button>
		            <button type="button" class="btn btn-sm btn-warning" ng-click="cancel()">返回</button>
		        </div>
	          </form>
	        </div>
	      </div>
	   </div>
	 </div>
	            
  </div>
  <!-- /column -->
</div>
