<div>
	<div class="modal-header relative">
	    <h3 class="modal-title">邮费设置</h3>
	</div>
	<div class="modal-body">
	    <div class="order-info-modal">
	        <form name="form" class="">
		        <div ng-repeat="val in province_list" class="inline-block province-item">
		             <label class="i-checks" ng-if="val.name != '全国'">
	                     <input type="checkbox" ng-model="val.selected">
	                     <i></i>
	                     <font class="relative">{{val.name}}</font>
	                 </label>
	                 <label class="i-checks" ng-if="val.name == '全国'">
	                     <input type="checkbox" ng-model="item.select_all">
	                     <i></i>
	                     <font class="relative">{{val.name}}</font>
	                 </label>
		        </div>
		        <hr/>
		        
		        <div class="form-group">
		            <label>首重（克）</label>
		            <input type="text" class="form-control" placeholder="请输入首重（克）" ng-model="item.first_weight" required/>
		        </div>
		        <div class="form-group">
		            <label>首费（元）</label>
		            <input type="text" class="form-control" placeholder="请输入首费（元）" ng-model="item.first_fee" required/>
		        </div>
		        <div class="form-group">
		            <label>续重（克）</label>
		            <input type="text" class="form-control" placeholder="请输入续重（克）" ng-model="item.other_weight" required/>
		        </div>
		        <div class="form-group">
		            <label>续费（元）</label>
		            <input type="text" class="form-control" placeholder="请输入续费（元）" ng-model="item.other_fee" required/>
		        </div>
	        </form>
	    </div>
	</div>
	<div class="modal-footer"> 
	    <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="cancle()">确定</button>
	</div>
</div>