<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="LogisticCtrl">

    <!-- column -->
    <div class="col">
        <div class="bg-light lter b-b wrapper-md ng-scope">
            <h1 class="m-n font-thin h3">邮费设置</h1>
        </div>
        <div class="wrapper-md" ng-show="!creating && !editing">
            <div class="input-group weekcheck-search-area relative">
                <span class="input-group-addon input-sm" ng-click="searchData()"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-touched input-search-width" placeholder="按名称搜索" ng-model="query" ng-enter="searchData()">
                <div class="btn-group">
	               <span class="relative" style="top:-4px; margin-left:30px;">是否显示开启数据</span>
			       <label class="i-switch i-switch-md bg-info m-r align-left relative" style="top:2px;">
			          <input type="checkbox" ng-model="is_open"/>
			          <i></i>
			       </label>
	            </div>
                <a href="" class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="createNew()"><i class="fa fa-fw m-r-xs fa-plus"></i>新建</a>
            </div>
            <br/>
            <div class="panel panel-default relative">
                <div class="yp-mask-content" ng-show="loading">
                    <div class="yp-mask"></div>
                    <div class="yp-mask-loading">
                        <div class="spinner spinner-sm">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <span>邮费设置</span>
                </div>
                <div>
                    <table class="table m-b-none align-center yearplan">
                        <thead>
                        <tr>
                            <th class="select-all" ng-show="isOperate('app.message')">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="selectAll">
                                    <i></i>
                                </label>
                            </th>
                            <th>序号</th>
                            <th>名称</th>
                            <th>内容</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="article_table">
                        <tr ng-repeat="item in dataList">
                            <td  class="select-item" ng-show="isOperate('app.message')">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="item.selected">
                                    <i></i>
                                </label>
                            </td>
                            <td ng-cloak>{{(page - 1) * perPage + $index + 1}}</td>
                            <td ng-cloak>{{item.name ? item.name : '--'}}</td>
                            <td ng-cloak title="">
                                <div ng-repeat="val in item.send_list" class="text-left">
                                   <div ng-if="val.select_all">
                                       <span class="fee-container">首重：<font class="text-info">{{val.first_weight}}</font>克，首费：<font class="text-info">{{val.first_fee}}</font>元，续重：<font class="text-info">{{val.other_weight}}</font>克，续费：<font class="text-info">{{val.other_fee}}</font>元</span>
                                       <span class="text-warning">配送区域：</span><span>全国{{val.isDefault ? '（默认）' : ''}}</span>
                                   </div>
                                   <div ng-if="!val.select_all">
                                       <span class="fee-container">首重：<font class="text-info">{{val.first_weight}}</font>克，首费：<font class="text-info">{{val.first_fee}}</font>元，续重：<font class="text-info">{{val.other_weight}}</font>克，续费：<font class="text-info">{{val.other_fee}}</font>元</span>
                                       <span class="text-warning">配送区域：</span><span ng-repeat="addr in val.addr_list">{{addr.name}}{{$index != val.addr_list.length - 1 ? ',' : ''}}</span>
                                   </div>
                                </div>
                            </td>
                            <td ng-cloak class="{{item.is_lock == 1 ? 'text-success' : 'text-danger'}}">{{item.is_lock == 1 ? '开启' : '锁定'}}</td>
                            <td ng-cloak>{{item.created_at ? item.created_at.substring(0, 10) : '--'}}</td>
                            <td><button class="btn btn-sm btn-primary btn-smest" ng-click="updateItem(item)"><i class="fa fa-fw m-r-xs fa-legal"></i>修改</button></td>
                        </tr>
                        <tr ng-if="!haveData">
                            <td colspan="7" class="text-center">没有数据！</td>
                        </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging" ng-show="haveData">
                        <tr>
                            <td colspan="1" class="relative">
                                <div class="yearlan-status" ng-show="!loading">
                                    <button ng-if="dataList.length > 0" class="btn btn-sm btn-danger" ng-disabled="all_delete_disabled" ng-click="deleteBatch()"><i class="fa fa-fw m-r-xs fa-trash-o"></i>{{all_delete_html}}</button>
                                </div>
                            </td>
                            <td colspan="6" class="text-center">
                                <div class="page-content" ng-hide="loading">
                                    <ul class="divpage-ul ul-border-left" id="divpage-page">
                                        <li class="divpage" ng-click="getInfoPage(1)" ng-class="{true:'disable'}[isFirst(page)]">首页</li>
                                        <li class="divpage" ng-click="getInfoPage(page-1)" ng-class="{true:'disable'}[isFirst(page)]">上一页</li>
                                        <li class="divpage" ng-click="divpageByPage($event)"></li>
                                        <li class="divpage" ng-click="divpageByPage($event)"></li>
                                        <li class="divpage" ng-click="divpageByPage($event)"></li>
                                        <li class="divpage" ng-click="divpageByPage($event)"></li>
                                        <li class="divpage" ng-click="divpageByPage($event)"></li>
                                        <li class="divpage" ng-click="getInfoPage(page + 1)" ng-class="{'disable':isDisable(page)}">下一页</li>
                                        <li class="divpage" ng-click="getInfoPage(totalPage)" ng-class="{'disable':isDisable(page)}">尾页</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        
        
        <div class="wrapper-md" ng-show="creating || editing">
		    <div class="panel panel-default">
		        <div class="panel-heading font-bold">请填写以下信息</div>
		        <div class="panel-body">
		          <form name="form" class="">
		            <div class="form-group">
			            <label>名称</label>
			            <input type="text" class="form-control" placeholder="请输入名称" ng-model="itemData.name" required/>
			        </div>
		            <div class="form-group relative">
		                <div class="btn m-b-xs btn-sm btn-primary btn-addon click-select" ng-click="insertAddr()"><i class="fa fa-plus"></i>新增配送区域</div>
			            <label>配送区域</label>
			            <div>
			                <table class="table table-bordered" ng-if="itemData.send_list.length > 0">
			                   <tr>
				                  <th width="80">首重</th><th width="80">首费</th><th width="80">续重</th><th width="80">续费</th><th>配送省份</th>
				               </tr>
				               <tr ng-repeat="val in itemData.send_list">
				                  <td>{{val.first_weight}}</td>
				                  <td>{{val.first_fee}}</td>
				                  <td>{{val.other_weight}}</td>
				                  <td>{{val.other_fee}}</td>
				                  <td>
                                     <span ng-repeat="subval in val.addr_list" class="selected-city" ng-if="subval.name != '全国' && !val.select_all">{{subval.name}}</span>
                                     <span class="selected-city" ng-if="val.select_all">全国{{val.isDefault ? '（默认）' : ''}}</span>
                                     <span class="float-right"><button  class="btn btn-smest btn-primary btn-smest" ng-click="updateAddr(val, $index)"><i class="fa fa-fw m-r-xs fa-pencil"></i>修改</button></span>
                                  </td>
				               </tr>
				            </table>
				            <div ng-if="itemData.send_list.length == 0" class="text-muted">还未添加过配送区域，请点击右边添加按钮选择</div>
			            </div>
			        </div>
			        <div class="form-group">
			            <label>是否启用</label>
			            <label class="i-switch bg-info m-t-xs m-r align-left dep-lock">
			                <input type="checkbox" ng-model="itemData.is_lock"/>
			                <i></i>
			            </label>
			        </div>
		            <div class="">
			            <button type="button" class="btn btn-sm btn-primary" ng-disabled='form.$invalid' ng-click="submitItem()">提交</button>
			            <button type="button" class="btn btn-sm btn-warning" ng-click="cancel()">返回</button>
			        </div>
		          </form>
		        </div>
		    </div>
		</div>
    </div>
    <!-- /column -->
    
    <script type="text/ng-template" id="logisticModalContent">
        <div ng-include="'/backend/templates/logistic_modal.html'"></div>
    </script>
</div>
