<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="MessageCtrl">

  <!-- column -->
  <div class="col">
    <div class="bg-light lter b-b wrapper-md ng-scope">
	    <h1 class="m-n font-thin h3">短信记录</h1>
	</div>
    <div class="wrapper-md">
        <div class="input-group weekcheck-search-area relative">
           <span class="input-group-addon input-sm" ng-click="searchData()"><i class="fa fa-search"></i></span>
           <input type="text" class="form-control input-sm ng-pristine ng-valid ng-touched input-search-width" placeholder="按姓名或手机号码或订单号搜索" ng-model="query" ng-enter="searchData()">
           <input singledatepicker ng-model="dateSelectSingle" type="text" class="timeinput" style="margin-left:10px; height:30px; width:150px;" placeholder="选择时间搜索" readonly="readonly" />
           <div class="btn-group float-right">
              <label class="btn btn-sm btn-dark ng-untouched ng-valid ng-dirty type-label-small-consume" ng-model="radioModel" btn-radio="99"><i class="fa fa-check text-active"></i>全部</label>
	          <label class="btn btn-sm btn-success ng-untouched ng-valid ng-dirty type-label-small-consume" ng-model="radioModel" btn-radio="1"><i class="fa fa-check text-active"></i>注册</label>
	          <label class="btn btn-sm btn-primary ng-untouched ng-valid ng-dirty active ng-valid-parse user-type-label-consume" ng-model="radioModel" btn-radio="2"><i class="fa fa-check text-active"></i>登录密码</label>
	          <label class="btn btn-sm btn-info ng-untouched ng-valid ng-dirty active ng-valid-parse user-type-label-consume" ng-model="radioModel" btn-radio="3"><i class="fa fa-check text-active"></i>支付密码</label>
	          <label class="btn btn-sm btn-warning ng-untouched ng-valid ng-dirty user-type-label-consume" ng-model="radioModel" btn-radio="4"><i class="fa fa-check text-active"></i>充值提醒</label>
	          <label class="btn btn-sm btn-twelve ng-untouched ng-valid ng-dirty user-type-label-consume" ng-model="radioModel" btn-radio="5"><i class="fa fa-check text-active"></i>可用结算</label>
	          <label class="btn btn-sm btn-seven ng-untouched ng-valid ng-dirty user-type-label-consume" ng-model="radioModel" btn-radio="6"><i class="fa fa-check text-active"></i>复投开启</label>
	          <label class="btn btn-sm btn-nine ng-untouched ng-valid ng-dirty user-type-label-consume" ng-model="radioModel" btn-radio="7"><i class="fa fa-check text-active"></i>复投关七</label>
	          <label class="btn btn-sm btn-ten ng-untouched ng-valid ng-dirty user-type-label-consume" ng-model="radioModel" btn-radio="8"><i class="fa fa-check text-active"></i>复投关一</label>
	          <label class="btn btn-sm btn-eleven ng-untouched ng-valid ng-dirty type-label-small-consume" ng-model="radioModel" btn-radio="9"><i class="fa fa-check text-active"></i>发货</label>
	          <label class="btn btn-sm btn-danger ng-untouched ng-valid ng-dirty type-label-small-consume" ng-model="radioModel" btn-radio="10"><i class="fa fa-check text-active"></i>商家</label>
	          <label class="btn btn-sm btn-thirteen ng-untouched ng-valid ng-dirty type-label-small-consume" ng-model="radioModel" btn-radio="11"><i class="fa fa-check text-active"></i>提醒</label>
	       </div>
        </div>
        <br/>
        <div class="panel panel-default relative">
            <div class="yp-mask-content" ng-show="loading">
			   <div class="yp-mask"></div>
			   <div class="yp-mask-loading">
			      <div class="spinner spinner-sm"> 
			         <div class="rect1"></div> 
			         <div class="rect2"></div> 
			         <div class="rect3"></div> 
			         <div class="rect4"></div> 
			         <div class="rect5"></div> 
			      </div>
			   </div>
			</div>
		    <div class="panel-heading">
		       <span>短信记录</span>
		    </div>
		    <div>
	           <table class="table m-b-none align-center yearplan">
			       <thead>
			          <tr>
			              <th class="select-all" ng-show="isOperate('app.message')">
			                  <label class="i-checks">
				                <input type="checkbox" ng-model="selectAll">
				                <i></i>
				              </label>
			              </th>
			              <th>序号</th>
			              <th>姓名</th>
			              <th>手机</th>
			              <th><span class="article-three-hundred-max-width">内容</span></th>
			              <th>类型</th>
			              <th>创建时间</th>
			          </tr>
			       </thead>
			       <tbody class="article_table">
			          <tr ng-repeat="item in dataList">
			              <td  class="select-item" ng-show="isOperate('app.message')">
			                  <label class="i-checks">
				                <input type="checkbox" ng-model="item.selected">
				                <i></i>
				              </label>
			              </td>
			              <td ng-cloak>{{(page - 1) * perPage + $index + 1}}</td>
			              <td ng-cloak>{{item.name ? item.name : '--'}}</td>
			              <td ng-cloak>{{item.mobile ? item.mobile : '--'}}</td>
			              <td ng-cloak title="{{item.content ? item.content : '--'}}"><span class="article-three-hundred-max-width">{{item.content ? item.content : '--'}}</span></td>
			              <td ng-cloak class="{{item.type == 1 ? 'text-success' : item.type == 2 ? 'text-primary' : item.type == 3 ? 'text-info' : item.type == 4 ? 'text-warning' : item.type == 5 ? 'text-twelve' : item.type == 6 ? 'text-seven' : item.type == 7 ? 'text-nine' : item.type == 8 ? 'text-ten' : item.type == 9 ? 'text-eleven' : item.type == 10 ? 'text-danger' : 'text-thirteen'}}">{{item.type == 1 ? '注册' : item.type == 2 ? '登录密码' : item.type == 3 ? '支付密码' : item.type == 4 ? '充值提醒' : item.type == 5 ? '可用结算' : item.type == 6 ? '复投开启' : item.type == 7 ? '复投关七' : item.type == 8 ? '复投关一' : item.type == 9 ? '发货' : item.type == 10 ? '商家' : item.type == 11 ? '提醒' : ''}}</td>
			              <td ng-cloak>{{item.created_at ? item.created_at.substring(0, 16) : '--'}}</td>
			          </tr>
			          <tr ng-if="!haveData">
			              <td colspan="7" class="text-center">没有数据！</td>
			          </tr>
			       </tbody>
			       <tfoot class="hide-if-no-paging" ng-show="haveData">
			          <tr>
			              <td colspan="1" class="relative">
			                  <div class="yearlan-status" ng-show="!loading">
				                  <button ng-if="dataList.length > 0" class="btn btn-sm btn-danger" ng-disabled="all_delete_disabled" ng-click="deleteBatch()"><i class="fa fa-fw m-r-xs fa-trash-o"></i>{{all_delete_html}}</button>
			                  </div>
			              </td>
			              <td colspan="6" class="text-center">
			                  <div class="page-content" ng-hide="loading">
					               <ul class="divpage-ul ul-border-left" id="divpage-page">
						             <li class="divpage" ng-click="getInfoPage(1)" ng-class="{true:'disable'}[isFirst(page)]">首页</li>
						             <li class="divpage" ng-click="getInfoPage(page-1)" ng-class="{true:'disable'}[isFirst(page)]">上一页</li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="getInfoPage(page + 1)" ng-class="{'disable':isDisable(page)}">下一页</li>
						             <li class="divpage" ng-click="getInfoPage(totalPage)" ng-class="{'disable':isDisable(page)}">尾页</li>
						          </ul>
					           </div>
			              </td>
			          </tr>
			       </tfoot>
		      </table>
		   </div>
	  </div>

	  
	</div>
  </div>
  <!-- /column -->
</div>
