<div class="hbox hbox-auto-xs bg-light " ng-init="
   app.settings.asideFixed = true;
   app.settings.asideDock = false;
   app.settings.container = false;
   app.hideAside = false;
   app.hideFooter = true;
   " ng-controller="PersonalCtrl">
  
   <div class="col">
      <div class="bg-light lter b-b wrapper-md ng-scope">
	     <h1 class="m-n font-thin h3">个人信息</h1>
	  </div>
      <div class="wrapper-md">
         <div class="panel panel-default">
	        <div class="panel-heading font-bold">您的个人信息如下（如需修改更多，请联系管理员）</div>
	        <div class="panel-body">
	          <div class="form-group">
		          <label>编号</label>
		          <p><strong>{{userInfo.id}}</strong></p>
		      </div>
	          <div class="form-group">
		          <label>用户名</label>
		          <input type="text" placeholder="请输入用户名" class="form-control" ng-model="user.name" ng-change="checkName()"/>
		      </div>
		      <div class="form-group">
		          <label>手机号码</label>
		          <input type="text" placeholder="请输入手机号码" class="form-control" ng-model="user.mobile" ng-change="checkMobile()"/>
		      </div>
		      <div class="form-group">
		          <label>角色名称</label>
		          <p><strong>{{userInfo.role_name}}</strong></p>
		      </div>
		      <div class="form-group">
		          <label>部门名称</label>
		          <p><strong>{{userInfo.dep_name}}</strong></p>
		      </div>
		      <div class="form-group">
		          <button type="button" class="btn btn-sm btn-primary" ng-click="chgPersonal()">提交修改</button>
		      </div>
	        </div>
	      </div>
      </div>
   </div>
</div>
