<div>
	<div class="modal-header relative">
	    <h3 class="modal-title">订单处理</h3>
	    <h4 class="order-status">{{item.status == 0 ? '分享中' : item.status == 1 ? '已结算' : '--'}}</h4>
	</div>
	<div class="modal-body">
	    <div class="order-info-modal">
	        <div class="title">
	            <span>分享详情</span>
	        </div>
	        <div class="detail">
	            <table>
	               <tr>
	                  <td colspan="2">分享商品：{{item.goods_name}}</td>
	               </tr>
	               <tr>
	                  <td>订单编号：{{item.order_id}}</td>
	                  <td>创建时间：{{item.created_at}}</td>
	               </tr>
	               <tr>
	                  <td>分享数量：{{item.share_num}}</td>
	                  <td>分享价格：{{item.share_price}} 元</td>
	               </tr>
	               <tr>
	                  <td>积分价格：{{item.single_point}} 分</td>
	                  <td>分享销量：{{item.sales_num}}</td>
	               </tr>
	               <tr>
	                  <td>已用积分：{{item.used_point}} 分</td>
	                  <td>所获佣金：{{item.geted_commision}} 元</td>
	               </tr>
	               <tr>
	                  <td>退回积分：{{item.back_point}} 分</td>
	                  <td>退回时间：{{item.clear_time ? item.clear_time : '--'}}</td>
	               </tr>
	            </table>
	        </div>
	        
	        <div class="title">
	            <span>购买详情</span>
	        </div>
	        <div class="goodsdetail">
	            <table class="table">
	               <tr>
	                  <th>购买人</th>
	                  <th>购买时间</th>
	                  <th>运费</th>
	                  <th>数量</th>
	               </tr>
	               <tr ng-repeat="buy in item.salelist">
	                  <td>{{buy.name && buy.mobile ? buy.name + '(' + buy.mobile + ')' : buy.name ? buy.name : buy.mobile ? buy.mobile : '--'}}</td>
	                  <td>{{buy.pay_time}}</td>
	                  <td>{{buy.logistic_fee}}</td>
	                  <td>{{buy.num}}</td>
	               </tr>
	               <tr ng-if="item.salelist.length == 0">
	                  <td colspan="4">暂未有购买记录</td>
	               </tr>
	            </table>
	        </div>
	    </div>
	</div>
	<div class="modal-footer"> 
	    <button class="btn btn-info" ng-if="item.rest_num > 0 && item.status == 0" ng-click="deal()">{{deal_html}}</button>
	    <button class="btn btn-primary" ng-click="cancle()">返回</button>
	</div>
</div>