<div>
	<div class="modal-header">
	    <h3 class="modal-title">徒弟列表</h3>
	</div>
	<div class="modal-body">
	    <div class="panel panel-default relative">
            <div class="yp-mask-content" ng-show="loading">
			   <div class="yp-mask"></div>
			   <div class="yp-mask-loading">
			      <div class="spinner spinner-sm"> 
			         <div class="rect1"></div> 
			         <div class="rect2"></div> 
			         <div class="rect3"></div> 
			         <div class="rect4"></div> 
			         <div class="rect5"></div> 
			      </div>
			   </div>
			</div>
		    <div>
	           <table class="table m-b-none align-center yearplan">
			       <thead>
			          <tr>
			              <th>序号</th>
			              <th>姓名</th>
			              <th>性别</th>
			              <th>手机号码</th>
			              <th>身份证号码</th>
			              <th>购物券</th>
			              <th>消费积分</th>
			              <th>可用积分</th>
			              <th>待用积分</th>
			              <th>分享积分</th>
			          </tr>
			       </thead>
			       <tbody class="article_table">
			          <tr ng-repeat="item in dataList">
			              <td ng-cloak>{{(page - 1) * perPage + $index + 1}}</td>
			              <td ng-cloak>{{item.name ? item.name : '--'}}</td>
			              <td ng-cloak>{{item.sex == 1 ? '男' : '女'}}</td>
			              <td ng-cloak>{{item.mobile ? item.mobile : ''}}</td>
			              <td ng-cloak>{{item.card_no ? item.card_no : '--'}}</td>
			              <td ng-cloak>{{item.exchange_point ? item.exchange_point : '0'}}</td>
			              <td ng-cloak>{{item.consume_point ? item.consume_point : '0'}}</td>
			              <td ng-cloak>{{item.useable_point ? item.useable_point : '0'}}</td>
			              <td ng-cloak>{{item.wait_point ? item.wait_point : '0'}}</td>
			              <td ng-cloak>{{item.share_point ? item.share_point : '0'}}</td>
			          </tr>
			          <tr ng-if="!haveData">
			              <td colspan="11" class="text-center">没有数据！</td>
			          </tr>
			       </tbody>
			       <tfoot class="hide-if-no-paging" ng-show="haveData">
			          <tr>
			              <td colspan="11" class="text-center">
			                  <div class="page-content" ng-hide="loading">
					               <ul class="divpage-ul ul-border-left" id="student-page">
						             <li class="divpage" ng-click="getInfoPage(1)" ng-class="{true:'disable'}[isFirst(page)]">首页</li>
						             <li class="divpage" ng-click="getInfoPage(page-1)" ng-class="{true:'disable'}[isFirst(page)]">上一页</li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="getInfoPage(page + 1)" ng-class="{'disable':isDisable(page)}">下一页</li>
						             <li class="divpage" ng-click="getInfoPage(totalPage)" ng-class="{'disable':isDisable(page)}">尾页</li>
						          </ul>
					           </div>
			              </td>
			          </tr>
			       </tfoot>
		      </table>
		   </div>
	  </div>
	</div>
	<div class="modal-footer"> 
	    <button class="btn btn-primary" ng-click="cancle()">关闭</button>
	</div>
</div>