<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="SystemCtrl">

  <!-- column -->
  <div class="col">
	<div class="bg-light lter b-b wrapper-md ng-scope">
	  <h1 class="m-n font-thin h3">系统设置</h1>
	</div>
    <div class="vbox">
      <div class="wrapper-md">
	      <div class="panel panel-default">
	        <div class="panel-heading font-bold">系统设置</div>
	        <div class="panel-body">
	          <form role="form" class="form-validation">
	            <div class="form-group">
		            <label>系统名称</label>
		            <input type="text" class="form-control" placeholder="请输入系统名称" ng-model="system.title" required>
		        </div>
		        <div class="form-group">
		            <label>版权归属</label>
		            <input type="text" class="form-control" placeholder="请输入版权归属" ng-model="system.author" required>
		        </div>
		        <div class="form-group">
		            <label>授权绑定</label>
		            <input type="text" class="form-control" placeholder="请输入授权绑定码" ng-model="system.privilege_key" required>
		        </div>
		        <div class="form-group">
		            <label>站点名称</label>
		            <input type="text" class="form-control" placeholder="请输入站点名称" ng-model="system.site_name" required>
		        </div>
		        <div class="form-group">
		            <label>站点域名</label>
		            <input type="text" class="form-control" placeholder="请输入站点域名" ng-model="system.site_www" required>
		        </div>
		        <div class="form-group">
		            <label>Keywords</label>
		            <input type="text" class="form-control" placeholder="请输入系统关键词" ng-model="system.keywords" required>
		        </div>
		        <div class="form-group">
		            <label>Description</label>
		            <input type="text" class="form-control" placeholder="请输入系统描述" ng-model="system.description" required>
		        </div>
	            <div class="">
		            <button type="button" class="btn btn-sm btn-primary" ng-click="editSystem()">提交</button>
		        </div>
	          </form>
	        </div>
	      </div>
        
	   </div>
	 </div>
	            
  </div>
  <!-- /column -->
</div>
