<div>
	<div class="modal-header relative">
	    <h3 class="modal-title">提现处理</h3>
	    <h4 class="order-status">{{item.status == 0 ? '待审核' : item.status == 1 ? '已通过' : '不通过'}}</h4>
	</div>
	<div class="modal-body">
	    <div class="order-info-modal">
	        <div class="title">
	            <span>提现详情</span>
	        </div>
	        <div class="detail">
	            <table>
	               <tr>
	                  <td>用户编号：{{item.mobile ? item.mobile : '--'}}</td><td>钱包余额：{{item.commision}}</td>
	               </tr>
	               <tr>
	                  <td>用户姓名：{{item.name ? item.name : '--'}}</td><td>申请时间：{{item.created_at ? item.created_at : '--'}}</td>
	               </tr>
	               <tr>
	                  <td>提现金额：{{item.submit_money ? item.submit_money : '--'}}  元</td><td>打款金额：{{item.get_money ? item.get_money : '--'}}  元</td>
	               </tr>
	               <tr>
	                  <td>手机号码：{{item.mobile ? item.mobile : '--'}}</td><td>处理时间：{{item.updated_at ? item.updated_at : '--'}}</td>
	               </tr>
	            </table>
	        </div>
	        
	        <div class="title">
	            <span>银行卡信息</span>
	        </div>
	        <div class="goodsdetail">
	            <table class="table">
	               <tr>
	                  <th>真实姓名</th><th>银行名称</th><th>银行卡号</th><th>银行地址</th>
	               </tr>
	               <tr>
	                  <td>{{item.user_name}}</td><td>{{item.bank_name}}</td><td>{{item.card_no}}</td><td>{{item.bank_address}}</td>
	               </tr>
	            </table>
	        </div>
	    </div>
	</div>
	<div class="modal-footer"> 
	    <div ng-if="item.status == 0">
	        <button class="btn btn-success" ng-click="agree()">{{agree_html}}</button>
	        <button class="btn btn-danger" ng-click="disagree()">{{disagree_html}}</button>
	        <button class="btn btn-primary" ng-click="cancle()">返回</button>
	    </div>
	    <div ng-if="item.status != 0">
	        <button class="btn btn-primary" ng-click="cancle()">返回</button>
	    </div>
	</div>
</div>