<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="UserimportCtrl">

  <!-- column -->
  <div class="col">
    <div class="bg-light lter b-b wrapper-md ng-scope">
	    <h1 class="m-n font-thin h3">会员导入</h1>
	</div>
    <div class="wrapper-md">
        <form name="form" class="form-validation">
		    <div class="form-group">
		        <label>请上传您要导入的Excel文件（<span class="text-danger">请不要上传中文名字文件</span>）</label>
		        <input ui-jq="filestyle" nv-file-select="" uploader="uploader" type="file" name="soft" data-icon="false"  data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s" required>
		    </div>
	    </form>
	    <div class="form-group">
            <button type="button" class="btn btn-sm btn-primary" ng-disabled='form.$invalid || importDisabled' ng-click="submitUpload($event)">{{submitBtnHtml}}</button>
        </div>
	</div>
  </div>
</div>