<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="WechatsettingCtrl">

  <!-- column -->
  <div class="col">
    <div class="bg-light lter b-b wrapper-md ng-scope">
	    <h1 class="m-n font-thin h3">公众号设置</h1>
	</div>
    <div class="wrapper-md">
        <div class="input-group align-right weekcheck-search-area relative">
           <span class="input-group-addon input-sm" ng-click="searchData()"><i class="fa fa-search"></i></span>
           <input type="text" class="form-control input-sm ng-pristine ng-valid ng-touched input-search-width" placeholder="按文件名或标签搜索" ng-model="query" ng-enter="searchData()">
        </div>
        <br/>
        <div class="panel panel-default relative">
            <div class="yp-mask-content" ng-show="loading">
			   <div class="yp-mask"></div>
			   <div class="yp-mask-loading">
			      <div class="spinner spinner-sm"> 
			         <div class="rect1"></div> 
			         <div class="rect2"></div> 
			         <div class="rect3"></div> 
			         <div class="rect4"></div> 
			         <div class="rect5"></div> 
			      </div>
			   </div>
			</div>
		    <div class="panel-heading">
		       <span>我的下载列表</span>
		    </div>
		    <div>
	           <table class="table m-b-none align-center yearplan">
			       <thead>
			          <tr>
			              <th>序号</th>
			              <th>文件名</th>
			              <th>标签</th>
			              <th>大小</th>
			              <th>下载次数</th>
			              <th>状态</th>
			              <th>下载时间</th>
			              <th>操作</th>
			          </tr>
			       </thead>
			       <tbody class="article_table">
			          <tr ng-repeat="item in dataList">
			              <td ng-cloak>{{(page - 1) * perPage + $index + 1}}</td>
			              <td ng-cloak>{{item.setting_name ? item.setting_name : '--'}}</td>
			              <td ng-cloak>{{item.label_name_list ? item.label_name_list : '--'}}</td>
			              <td ng-cloak>{{item.file_size | sizeFilter}}</td>
			              <td ng-cloak>{{item.download_num ? item.download_num : '--'}}</td>
			              <td ng-cloak class="{{reviewClass(item.status)}}">{{item.status == 0 ? '待审核' : item.status == 1 ? '已通过' : item.status == 2 ? '不通过' : item.status == 3 ? '锁定' : '--'}}</td>
			              <td ng-cloak>{{item.time ? item.time.substring(0, 16) : '--'}}</td>
			              <td>
			                 <button class="btn btn-sm btn-success btn-smest" ng-click="look(item, 'lg')"><i class="fa fa-fw m-r-xs fa-search"></i>预览</button>
			                 <a href="/download/execute?id={{item.id}}" ng-click="download(item)" ng-if="isOperate('app.mydownload')">
			                    <button class="btn btn-sm btn-primary btn-smest" ng-click="updateData(item)"><i class="fa fa-fw m-r-xs fa-cloud-download"></i>下载</button>
			                 </a>
			              </td>
			          </tr>
			          <tr ng-if="!haveData">
			              <td colspan="8" class="text-center">没有数据！</td>
			          </tr>
			       </tbody>
			       <tfoot class="hide-if-no-paging" ng-show="haveData">
			          <tr>
			              <td colspan="8" class="text-center">
			                  <div class="page-content" ng-hide="loading">
					               <ul class="divpage-ul ul-border-left" id="divpage-page">
						             <li class="divpage" ng-click="getInfoPage(1)" ng-class="{true:'disable'}[isFirst(page)]">首页</li>
						             <li class="divpage" ng-click="getInfoPage(page-1)" ng-class="{true:'disable'}[isFirst(page)]">上一页</li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="divpageByPage($event)"></li>
						             <li class="divpage" ng-click="getInfoPage(page + 1)" ng-class="{'disable':isDisable(page)}">下一页</li>
						             <li class="divpage" ng-click="getInfoPage(totalPage)" ng-class="{'disable':isDisable(page)}">尾页</li>
						          </ul>
					           </div>
			              </td>
			          </tr>
			       </tfoot>
		      </table>
		   </div>
	  </div>

	  
	</div>
  </div>
  <!-- /column -->
</div>
